<div class='col-10 col-sm-6 col-md-6 mx-auto'>
<%= bootstrap_form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    
    <%= form.text_field :name %>
  </div>

  <div>
  
    <%= form.number_field :preparation_time %>
  </div>

  <div>
  
    <%= form.number_field :cooking_time %>
  </div>

  <div>
 
    <%= form.text_area :description %>
  </div>

  <div>

    <%= form.check_box :public %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>